.highlight-node {
  max-width: 130px;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  text-transform: none !important;
}

.highlight-node.selected {
  border: 2px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
