.home {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: black;
    overflow-y: auto;
}

.title-block {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authors-block {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.author-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information-block {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links-block {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.link-button {
    border-radius: 20px;
    background-color: #000000 !important;
    color: #ffffff !important;
}

.description-block {
    width: 75%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #eee;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 30px;
}

.poster-block {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.poster-image {
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
}
