body {
  margin: 0;
  font-family: Roboto, sans-serif !important;
  background-color: #ffffff;
  color: #fff;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

button {
  display: flex !important;
  align-items: center !important;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto !important;
  background: none;
  border: none;
  text-transform: none !important;
}

.mui-button {
  color: black !important;
  font-size: 16px !important;
  text-transform: none !important;
}
